[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = ../HugoBookTheme.git
[submodule "content/art/proko"]
	path = content/art/proko
	url = ../ProkoArtNote.git
[submodule "content/hiddenNotes"]
	path = content/hiddenNotes
	url = ../HiddenNotes.git
[submodule "assets/OctIcons"]
	path = assets/OctIcons
	url = ../OctIcons.git
